{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "jsxSingleQuote": false,
  "tabWidth": 2,
  "printWidth": 100,
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "proseWrap": "preserve",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "printWidth": 80
      }
    }
  ]
}
